<body class="body">
  <header></header>
  <main class="main">
    <form class="form" @submit.prevent="submit">
      <h3>Форма клиента</h3>
      <div class="form-container">
        <div
          class="form-container__block form-container__block--max-height-250 form-container__block--width"
        >
          <div class="form-container__block__item" :class="$v.form.surname.$error && form.submitStatus == 'ERROR' ? 'form-container__block__item--error' : ''">
            <input class="form-container__block__item__input" autocomplete="family-name" v-model.trim="form.surname"/>
            <label class="form-container__block__item__label">
              Фамилия<span>*</span>
            </label>
          </div>
          <div class="form-container__block__item" :class="$v.form.name.$error && form.submitStatus == 'ERROR' ? 'form-container__block__item--error' : ''">
            <input class="form-container__block__item__input" autocomplete="given-name" v-model.trim="form.name"/>
            <label class="form-container__block__item__label">
              Имя<span>*</span>
            </label>
          </div>
          <div class="form-container__block__item" :class="$v.form.middleName.$error && form.submitStatus == 'ERROR' ? 'form-container__block__item--error' : ''">
            <input class="form-container__block__item__input" autocomplete="additional-name" v-model.trim="form.middleName"/>
            <label class="form-container__block__item__label">
              Отчество<span>*</span>
            </label>
          </div>
          <div class="form-container__block__item" :class="$v.form.clientGroup.value.$error && form.submitStatus == 'ERROR' ? 'form-container__block__item--error' : ''">
            <select
              class="form-container__block__item__select"
              v-model="form.clientGroup.value"
            >
              <option
                class="form-container__block__item__select__option"
                v-for="(option, index) in form.clientGroup.options"
                :key="index"
              >
                {{ option }}
              </option>
            </select>
              <label class="form-container__block__item__label">
                Группа клиентов<span>*</span>
              </label>
          </div>
          <div class="form-container__block__item" :class="$v.form.dateOfBirth.$error && form.submitStatus == 'ERROR' ? 'form-container__block__item--error' : ''">
            <input class="form-container__block__item__input" type="date" autocomplete="bday" v-model.trim="form.dateOfBirth"/>
            <label class="form-container__block__item__label">
              Дата рождения<span>*</span>
            </label>
          </div>
          <div class="form-container__block__item" :class="$v.form.phone.$error && form.submitStatus == 'ERROR' ? 'form-container__block__item--error' : ''">
            <input class="form-container__block__item__input" type="tel" autocomplete="tel" v-model.trim="form.phone" @keyup.delete="vDate"/>
            <label class="form-container__block__item__label">
              Номер телефона<span>*</span>
            </label>
          </div>
          <div class="form-container__block__item">
            <input class="form-container__block__item__input" autocomplete="sex" v-model.trim="form.gender"/>
            <label class="form-container__block__item__label">
              Пол
            </label>
          </div>
          <div class="form-container__block__item">
            <select
              class="form-container__block__item__select"
              v-model="form.attendingDoctor.value"
            >
              <option
                class="form-container__block__item__select__option"
                v-for="(option, index) in form.attendingDoctor.options"
                :key="index"
              >
                {{ option }}
              </option>
            </select>
            <label class="form-container__block__item__label">
              Лечащий врач
            </label>
          </div>
        </div>
        <div class="form-container__block__item-checkbox">
          <input class="checkbox" type="checkbox" v-model.trim="form.notSendSMS" />
          <label class="">Не отправлять СМС</label>
        </div>
      </div>
      <h4 class="heading-4--margin">Адрес</h4>
      <div class="form-container">
        <div class="form-container__block__item">
          <input class="form-container__block__item__input" autocomplete="country-name" v-model.trim="form.country"/>
          <label class="form-container__block__item__label">
            Страна
          </label>
        </div>
        <div class="form-container__block__item">
          <input class="form-container__block__item__input" autocomplete="region" v-model.trim="form.region"/>
          <label class="form-container__block__item__label">
            Область
          </label>
        </div>
        <div class="form-container__block__item" :class="$v.form.city.$error && form.submitStatus == 'ERROR' ? 'form-container__block__item--error' : ''">
          <input class="form-container__block__item__input" autocomplete="locality" v-model.trim="form.city"/>
          <label class="form-container__block__item__label">
            Город<span>*</span>
          </label>
        </div>
        <div class="form-container__block__item">
          <input class="form-container__block__item__input" autocomplete="postal-code" v-model.trim="form.index"/>
          <label class="form-container__block__item__label">
            Индекс
          </label>
        </div>
        <div class="form-container__block__item">
          <input class="form-container__block__item__input" autocomplete="street-address" v-model.trim="form.street"/>
          <label class="form-container__block__item__label">
            Улица
          </label>
        </div>
        <div class="form-container__block__item">
          <input class="form-container__block__item__input" autocomplete="home" v-model.trim="form.house"/>
          <label class="form-container__block__item__label">
            Дом
          </label>
        </div>
      </div>
      <h4 class="heading-4--margin">Паспорт</h4>
      <div class="form-container">
        <div class="form-container__block__item" :class="$v.form.TypeDocument.value.$error && form.submitStatus == 'ERROR' ? 'form-container__block__item--error' : ''">
          <select
            class="form-container__block__item__select"
            v-model="form.TypeDocument.value"
          >
            <option
              class="form-container__block__item__select__option"
              v-for="(option, index) in form.TypeDocument.options"
              :key="index"
            >
              {{ option }}
            </option>
          </select>
          <label class="form-container__block__item__label"
            >Тип документа<span>*</span></label
          >
        </div>
        <div
          class="form-container__block form-container__block--max-height-140 form-container__block--width"
        >
          <div class="form-container__block__item">
            <input class="form-container__block__item__input" autocomplete="no" v-model.trim="form.series"/>
            <label class="form-container__block__item__label">
              Серия
            </label>
          </div>
          <div class="form-container__block__item">
            <input class="form-container__block__item__input" autocomplete="no" v-model.trim="form.number"/>
            <label class="form-container__block__item__label">
              Номер
            </label>
          </div>
          <div class="form-container__block__item">
            <input class="form-container__block__item__input" autocomplete="no" v-model.trim="form.whoIssued"/>
            <label class="form-container__block__item__label">
              Кем выдан
            </label>
          </div>
          <div class="form-container__block__item" :class="$v.form.dateIssued.$error && form.submitStatus == 'ERROR' ? 'form-container__block__item--error' : ''">
            <input class="form-container__block__item__input" type="date" v-model.trim="form.dateIssued"/>
            <label class="form-container__block__item__label">
              Дата выдачи<span>*</span>
            </label>
          </div>
        </div>
      </div>
      <button
        class="form-button"
        type="submit"
        :disabled="form.submitStatus === 'PENDING'"
      >
        Отправить
      </button>
    </form>
    <p class="message message--successfully" v-if="form.submitStatus === 'OK'">
      Клиент успешно создан!
    </p>
    <p class="message message--error" v-if="form.submitStatus === 'ERROR'">
      Пожалуйста, заполните форму правильно. 
      <span v-if="$v.form.$error"><br>Поля отмеченные "*" являются обязательными.</span>
      <span v-if="$v.form.phone.$error"><br>В поле "Номер телефона" должно быть 11 цифр.</span>
    </p>
    <p class="message" v-if="form.submitStatus === 'PENDING'">Отправка...</p>
  </main>
  <footer></footer>
</body>
